TOKEN=xyzabc
PREFIX=$
DASHBOARD_PASSWORD=abc
DASHBOARD_PORT=0000
DASHBOARD_HOST=00000
LAVALINK_URI=ww
LAVALINK_PASSWORD=www
BOT_STATUS="MADE BY SUBHAN"
BOT_STATUS_TYPE=listening
BOT_ACTIVITY_NAME="MADE BY SUBHAN"
MAX_QUEUE_SIZE=100
DEFAULT_VOLUME=80
AUTO_LEAVE_EMPTY=True
AUTO_LEAVE_TIMEOUT=300
SEARCH_RESULTS_LIMIT=5
